*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(120deg,#055f2d,#62e57e);
color: white;
padding: 10px;
}
.calculator{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}
.calculator h1{
    font-size: 60px;

}
.input-box{
    margin:40px 0;
    padding: 35px;
    border-radius: 10px;
    background: #094416;
    display: flex;
    align-items: center;
}
.input-box input{
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    flex: 1;
    border-radius: 5px;
    position: relative;
}
.input-box button{
    background: #62e57e;
    padding: 15px 30px;
    border: 0;
    outline: 0;
    font-weight: 500;
    border-radius: 5px;
    color: rgb(7, 7, 7);
    cursor: pointer;
}
#result{
    font-size: 20px;
}
#result span{
color: black;
font-style: italic;
}